<router-outlet></router-outlet>
<!--
<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4"><h2>Usuarios</h2></div>
      <div class="col-lg-4">Total: {{usersLength}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
      <button class="btn btn-sm btn-info" (click)="addUsers()">Agregar Usuario</button>
    </div>
  </div>
</div>
<div>
  <br><br>
  <table class="table table-sm table-striped">
    <thead>
      <th class="scope">#</th>
      <th class="scope">Nombre</th>
      <th class="scope">Apellido Paterno</th>
      <th class="scope">Apellido Materno</th>
      <th class="scope">Email</th>
      <th class="scope">Estatus</th>
    </thead>
    <tbody *ngFor="let user of users; let i=index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td *ngIf="user.segundoNombre == null || user.segundoNombre == ''; else segundoNombre">
          {{user.primerNombre}}
        </td>
        <ng-template #segundoNombre>
          <td>{{user.primerNombre + ' ' + user.segundoNombre}}</td>
        </ng-template>
        <td>{{user.apellidoPaterno}}</td>
        <td>{{user.apellidoMaterno}}</td>
        <td>{{user.email}}</td>
        <td *ngIf="user.active == 1; else desactivo">Activo</td>
        <ng-template #desactivo>
          <td>Desactivo</td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
  -->

